# Nusxa oling: cp .env.example .env   (.env faylini GitHub'ga yuklamang!)
FACE_ID_API_KEY=
API_BASE_URL=https://script.google.com/macros/s/AKfycbyi7QaRZME4mtbGInMPu3V-heXzbNm4yMopcwf1HOeWiv_oJ06QNFLxwYvQLBIJdNzu/exec
FACE_MATCH_TOLERANCE=0.30
CAMERA_INDEX=0
